* {
    padding: 0;
    margin: 0;
}

.red-border {
    border: 2px solid rgb(9, 6, 204);
}

.header-text {
    background-color: rgb(0, 94, 89);
}

p {
    width: 300px;
    margin: 30px;
    display: inline-block;
}

a {
    width: 300px;
    display: inline-block;
}

img {
    display: none;
    width: 400px;
}